body {
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

h5,
p {
  text-align: center;
  line-height: 0.8;
}

h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a.signature:hover {
  text-decoration: underline;
}

h5.card-title {
  font-size: 13px;
}

.active {
  color: #ffffff;
  cursor: default;
}

.units.active:hover {
  text-decoration: none;
}

.card {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  background: transparent;
  border-color: #ffffff;
}

.card-body {
  padding: 0;
  margin: 0;
}
.search {
  padding: 6px 50px;
  margin-left: 10px;
}
.weather-app {
  border: solid 1px #dadde1;
  border-radius: 5px;
  padding: 50px;
  margin: 40px 40px 10px 40px;
  max-width: 95%;
  background: linear-gradient(
    89.5deg,
    rgb(209, 210, 211) -0.1%,
    rgb(109, 114, 119) 25.1%,
    rgb(50, 57, 64) 49.6%,
    rgb(12, 18, 24) 74.5%,
    rgb(0, 0, 0) 99.3%
  );
}

.temperature {
  font-weight: 900px;
  font-size: 48px;
}

.units {
  position: relative;
  top: -24px;
}

.signature {
  color: black;
  font-size: 12px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.8;
}

.description {
  font-size: 13px;
  text-transform: capitalize;
}

.forecastDescription {
  font-size: 10px;
  text-transform: capitalize;
  line-height: 10px;
}

.max,
.min {
  font-size: 12px;
}

.min {
  opacity: 0.6;
}
#weather-description {
  text-transform: capitalize;
}

.btn {
  border-radius: 2px;
  border-color: #283739;
}

.lang {
  color: #ffffff;
  text-align: right;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: none;
}

a.lang :hover {
  color: blue;
}
